h1 {
  background: url("npm.png");
  background-size: 518px 202px;
}

p {
  background: url("npm.png");
  width: 518px;
  height: 202px;
  top: 518px;
}

h1 {
  background: url("options@2x.png");
  background-size: 32px 32px;
}

p {
  background: url("options@2x.png");
  width: 32px;
  height: 32px;
  top: 32px;
}

