h1 {
  background: url("npm.png");
  background-size: image-size("npm.png");
}

p {
  background: url("npm.png");
  width: image-width("npm.png");
  height: image-height("npm.png");
  top: image-width("npm.png");
}

h1 {
  background: url("npm.png");
  background-size: hidpi-image-size("npm.png");
}

p {
  background: url("npm.png");
  width: hidpi-image-width("npm.png");
  height: hidpi-image-height("npm.png");
  top: hidpi-image-width("npm.png");
}

h1 {
  background: url("options@2x.png");
  background-size: image-size("options@2x.png");
}

p {
  background: url("options@2x.png");
  width: image-width("options@2x.png");
  height: image-height("options@2x.png");
  top: image-width("options@2x.png");
}

h1 {
  background: url("options@2x.png");
  background-size: hidpi-image-size("options@2x.png");
}

p {
  /* comment */
  /*background: url("options@2x.png");*/
  width: hidpi-image-width("options@2x.png");
  height: hidpi-image-height("options@2x.png");
  top: hidpi-image-width("options@2x.png");
}

